# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@218eac28da503d6ba328c919222101e733305b40

  verify-terraform:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@218eac28da503d6ba328c919222101e733305b40
    with:
      directory: src
  release-terraform:
    needs: verify-terraform
    uses: harmelodic/workflows/.github/workflows/release-terraform.yaml@218eac28da503d6ba328c919222101e733305b40
    with:
      directory: src
      workspace: default
