# $schema: http://json.schemastore.org/github-workflow.json
name: pull-request

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@640f0950bdc5329e41fe0a187c2ccfe69e645fd3

  verify-terraform:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@640f0950bdc5329e41fe0a187c2ccfe69e645fd3
    with:
      directory: src
